@import "tailwindcss";
@import 'font-awesome/css/font-awesome.min.css';

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}